{% extends "base.html.twig" %}
{% block content %}
    {% apply inline_css(source("/css/login.css")) %}
        <div class="container">
            <h1 class="mb-4">Login</h1>
    
            <form action="{{ path('login') }}" method="post">
    
                {% if app.request.session.get("_security.last_error") %}
                    {% do (app.request.session.remove("_security.last_error")) %}
                    <div class="alert alert-danger">
                        Benutzername und/oder Passwort nicht gefunden.
                    </div>
                {% endif %}
    
    
                <div class="form-group">
                    <label for="_username"><b>Benutzername</b></label>
                    <input class="form-control" type="text" placeholder="Benutzername eingeben" name="_username" required>
                </div>
    
                <div class="form-group mb-4">
                    <label for="_password"><b>Passwort</b></label>
                    <input class="form-control" type="password" placeholder="Passwort eingeben" name="_password" required>
                </div>
    
                <button class="form-control mb-3" type="submit">Anmelden</button>
    
                <a href="/admin">Als Administrator anmelden? </a>
    
            </form>
        </div>
    {% endapply %}
{% endblock %}
