{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">
        <i class="bi bi-floppy-fill"></i>
        {{ button_label|default('Speichern') }}
    </button>
{{ form_end(form) }}
